                                        <div class='grid_6 inner-left'>
                                            <div class='margin-top margin-left'>
                                                <p>Copyright &copy; 2009&ndash;2014 <a href="http://onemorecloud.com/">Onemorecloud, LLC</a>.</p>
                                                <p>Crafted by <a href="http://twitter.com/kmx">Kyle Maxwell</a> <span class='amp'>&amp;</span> <a href="http://twitter.com/nz_">Nick Zadrozny</a>.</p>
                                                <p>Want to collaborate? <a href="mailto:info@onemorecloud.com">Send us an email</a> and tell us how.</p>
                                            </div>
                                        </div>
                                        <div class='grid_3'>
                                            <div class='margin-top'>
                                                <ul>
                                                    <li><a href="/managed">Managed Indexes</a></li>
                                                    <li><a href="/dedicated">Dedicated Instances</a></li>
                                                    <li><a href="/consulting">Solr Consulting</a></li>
                                                    <li><a href="/support">Solr Support Plans</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='grid_3 inner-right'>
                                            <div class='margin-top'>
                                                <ul>
                                                    <li><a href="/about">About Us</a></li>
                                                    <li><a href="/contact">Contact Us</a></li>
                                                    <li><a href="/officehours">Cofounder Office Hours</a></li>
                                                    <li><a href="/legal">Terms of Service</a></li>
                                                    <li><a href="http://blog.websolr.com/">The Websolr Blog</a></li>
                                                </ul>
                                            </div>
                                        </div>