                        <div id='websolr_logo'>
                            <a href="/">
                                <img alt="Logo-fresh" height="30" src="//dkuezrkqitylc.cloudfront.net/assets/logo-fresh-98addc3f8072e13b4f1206dc6f48985f.png" />
                            </a>
                        </div>
                        <div id='filler'>
                            <p></p>
                        </div>
                        <div id='docs_support_login'>
                            <ul>
                                <li><a href="/guides" class=" selected">Documentation</a></li>
                                <li><a href="http://help.websolr.com/">Support</a></li>
                            </ul>
                        </div>
                        <div class='clear'></div>