    <script src="https://use.typekit.com/wbh0ubc.js" type="text/javascript"></script>
    <script>
      //<![CDATA[
        try{Typekit.load();}catch(e){}
      //]]>
    </script>

    <script>
      //<![CDATA[
        (function() {
          window._pa = window._pa || {};
          _pa.orderId = '31679a75920841365d49c6377e9cbc35';
          _pa.revenue = '(0.0)';
          var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
          pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/519694fc40a70af566000050.js";
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
        })();
      //]]>
    </script>


    <script>
      //<![CDATA[
        // Google analytics
        var _gaq = [['_setAccount', 'UA-15917148-1'], ['_trackPageview']];
        (function(d, t) {
          var g = d.createElement(t),
              s = d.getElementsByTagName(t)[0];
          g.async = true;
          g.src = 'https://www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g, s);
        })(document, 'script');
      //]]>
    </script>


    <script type="text/javascript">
        olark('api.visitor.updateEmailAddress',{emailAddress:"rc.sears@gmail.com"});
        olark('api.visitor.updateFullName',{fullName:"Rob Sears"});
    </script>