                                        <div id='flag'>
                                            <img alt="Flag" height="26" src="//dkuezrkqitylc.cloudfront.net/assets/flag-659311b55c5de70119d12efcef2ca700.png" width="18" />
                                        </div>
                                        <p id='intro'>This documentation is an active work in progress created by Websolr users.</p>
                                        <h3>Contents</h3>
                                        <ul>
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/guides/partners/">Partners</a></li>
                                            <li><a href="/guides/solr/">About Solr</a></li>
                                            <li><a href="/guides/clients/">Solr Clients</a></li>
                                            <li><a href="/guides/">Tutorials</a></li>
                                        </ul>
                                        <h3>How to Contribute</h3>
                                        <p>To get started, just clone <a href="https://github.com/onemorecloud/websolr-guides">Websolr Guides</a>, commit your changes to a branch, and send us a pull request.</p>
                                        <p><small>Contributors: Need a place to test your guides? Get in touch and we can set you up with a free index for testing.</small></p>
                                        <h3>Questions</h3>
                                        <p>Need help? Drop us a line.</p>
                                        <p><a href="/contact" class="small grey button">Contact Us</a></p>